<div class="row flex">
    <div class="col-xs-3">
        <button class="btn btn-primary return" 
                (click)="onReturn()"> Return 
        </button>
    </div>

    <div class="col-xs-6">
        <h3> {{apartment.title}} Detail</h3>
    </div>
    <div class="col-xs-3"></div>
</div>
<hr>
<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="thumbnail">
          <img [src]="apartment.img_url" 
               alt="apartment.title">

          <div class="caption">
            <h4>{{apartment.title}}</h4>
            <p> Price : {{ getFormatedPrice() }} </p>
            <p>
              <button  class="btn " 
                       [ngClass]="{'btn-success' :!cheack , 'btn-danger' : cheack  }" 
                       (click)=onBookMark()>
                    <span *ngIf='!cheack ; else removeTemplate'>Add Bookmark</span>
                    <ng-template #removeTemplate>Remove Bookmark</ng-template>
              </button>
            </p>
          </div>
        </div>
      </div>
</div>
